<div class="content-container">
  <ng-container *ngFor="let content of captionedContent">
    <img *ngIf="!content.video; else video" class="content content--img"
      [class.content--active]="content.src === currentContent.src && !(content.caption.length === 0)" 
      [class.content--pano]="content.pano"
      [class.content--extra]="content.caption.length === 0"
      [class.content--split]="content.split"
      [src]="content.src"
      [@fade]="(content.src === currentContent.src && !(content.caption.length === 0)) ? 'active': 'inactive'">
    <ng-template #video>
      <video class="content content--video" 
        [class.content--active]="content.src === currentContent.src"
        [class.content--extra]="content.caption.length === 0"
        [class.content--split]="content.split"
        [src]="content.src" [poster]="content.poster" preload="auto" autoplay="" loop="" playsinline="true"
        [muted]="true" [@fade]="content.src === currentContent.src ? 'active': 'inactive'"></video>
    </ng-template>
  </ng-container>
</div>
<div class="text-container">
  <a [href]="content.src" *ngFor="let content of captionedContent">
    <div [class]="'caption-wrapper caption-wrapper--' + scrollerName"
      [class.caption-wrapper--placeholder]="!content.caption.length"
      [class.caption-wrapper--extra]="content.caption.length === 0"
      [class.caption-wrapper--split]="content.split">
      <div class="caption-inner">
        <p class="caption">{{content.caption}}</p>
      </div>
    </div>
  </a>
</div>
