<section class="title-section">
  <app-title-section></app-title-section>
</section>
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7">
        <p class="p-body">
          In late November, the sun does not peak over the Iceland horizon until after 10:30am. At solar
          noon it sits at a mere 5˚, its bottom edge hovering a few fingerwidths above the horizon. At 4pm it sets,
          leaving Icelandic residents and visitors with a mere 5.5 hours of daylight to explore its glacial volcanic
          landscape...
        </p>
        <p class="p-body">...or so we thought. When my father initially proposed our trip to Iceland, it was with the
          understanding that it would include short days jam packed with outdoor excursions, and long nights that gave
          us a good chance of catching the aurora borealis. What we did not anticipate, however, was the extra 2-3 hours
          gifted by “civil twilight” - when the sun is within 6˚ of the bottom of the horizon and still providing enough
          light to explore the Nordic island nation. </p>
        <p class="p-body">All of this combined to produce days spent almost entirely in the light of a setting or rising
          sun - a daylong golden hour.</p>
        <p class="p-body">This project is an attempt to capture the stunning, golden landscape that we witnessed on our
          3-day trip to Iceland. It exists somewhere between a glorified travel journal and Facebook photo album with
          long captions - two forms of media meant more for personal reflection than mass consumption.</p>
        <p class="p-body">In the words of my grandmother, ”you should know that most are not very interested in other
          people’s travel accounts.” She’s almost certainly right. But if you feel like looking at some pictures and
          skimming over the journalling of someone who doesn’t actually keep a journal, then I hope you enjoy the rest.
        </p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/mountain_into_water.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7">
        <p class="p-body">After a brisk 5.5 hour flight from Washington, I met Henry, Dad, and Lara in the Reykjavík
          airport
          baggage claim at 6:45am Icelandic time. Henry and I quickly took the necessary steps to ensure that Jasper
          would be
          able to identify us upon his arrival an hour later. </p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/henry_airport.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7">
        <p class="p-body">We collected our rental car - a Toyota Rav-4 equipped with “gravel insurance” for all of the
          rugged off-roading we had planned (I joke but there were some long gravel roads with high speed limits that
          the insurance was probably helpful for).</p>
        <p class="p-body">As we drove ~45 mins to our AirBnb just outside of Reykjavík, the deep black of the night sky
          started to give way to a deep blue. This was the beginning of a nearly 2.5 hour lightening of the sky before
          the sun finally peeked over the horizon around 10am.</p>
        <p class="p-body">Our AirBnb was a 3-story minimalist home dug into the hillside, with 2/3 floors buried into
          the ground. It overlooked the Bay of Nauthólsvík with huge, North-facing (very important) floor-to-ceiling
          windows. Naturally, the listing promised views of the Aurora Borealis and we were, naturally, skeptical.</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/mountain_into_water.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7">
        <p class="p-body">The house was heated when we arrived, which we originally interpreted as a friendly owner
          welcoming us to a cozy abode. Later, we learned that due to Iceland’s wealth of geothermal energy, heating was
          basically free, leading many residents to always have their heat on full-blast and to open their windows if
          they need to cool it down a bit. Our AirBnb’s plumbing also took advantage of this model: the cold water came
          straight from the glaciers, while the hot water smelled of sulfur. While brushing my teeth, I learned the hard
          way that the slightest increase in water temperature would introduce sulfur into the faucet stream.</p>
        <p class="p-body">After showering, we headed into town for first planned activity - a food tour of Reykjavík
          that my father believed would be the perfect way to keep us up and about while we fought through our jetlag.
        </p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/harpa.jpeg" class="img-half img-half--left">
<img src="assets/images/harpa_jasper.jpeg" class="img-half img-half--right">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7">
        <p class="p-body">Our tour guide was a burly chested, blond curly wax mustachioed, 20-something Icelander named
          Thor (one of <a href="https://en.wikipedia.org/wiki/Icelandic_Naming_Committee">1700+ permitted</a> Icelandic
          male first names). He met us outside the Harpa Concert Hall, wearing a thick-knitted sweater made by his
          grandmother and skinny jeans with holes (it was less clear who those were made by). Thor told us that he was
          starving and that we should start the tour immediately.</p>
        <p class="p-body">Unfortunately, none of us remembered to take photos of the food during the tour, so here is a
          very brief highlight reel of text descriptions:</p>
        <!-- TODO: food tour section -->
      </div>
    </div>
  </div>
</section>
<app-caption-scroller [captionedContent]="canyonDriveContent"></app-caption-scroller>
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7">
        <p class="p-body">Eventually our scenic route ended with us at Blue Lagoon - a large hot springs that was
          described by a friend as “one of the most touristy places in Iceland” but also “Unique. Cool. Incredible.
          Fucking do it.” We were glad that we followed his advice.</p>
        <!-- TODO: food tour section -->
      </div>
    </div>
  </div>
</section>
