<section class="title-section">
  <app-title-section></app-title-section>
</section>
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">
          In late November, the sun does not peak over the Iceland horizon until after 10:30am. At solar
          noon it sits at a mere 5˚, its bottom edge hovering a few fingerwidths above the horizon. At 4pm it sets,
          leaving Icelandic residents and visitors with a mere 5.5 hours of daylight to explore its glacial volcanic
          landscape...
        </p>
        <p class="p-body">...or so we thought. When my father initially proposed our trip to Iceland, it was with the
          understanding that it would include short days jam packed with outdoor excursions, and long nights that gave
          us a good chance of catching the aurora borealis. What we did not anticipate, however, was the extra 2-3 hours
          gifted by “civil twilight” - when the sun is within 6˚ of the bottom of the horizon and still providing enough
          light to explore the Nordic island nation. </p>
        <p class="p-body">All of this combined to produce days spent almost entirely in the light of a setting or rising
          sun - a daylong golden hour.</p>
        <p class="p-body">This project is an attempt to capture our experiences and the stunning, golden landscape that
          we witnessed on our 3-day trip to Iceland. It exists somewhere between a glorified travel journal and Facebook
          photo album with long captions - two forms of media meant more for personal reflection than mass consumption.
        </p>
        <p class="p-body">In the words of my grandmother, ”you should know that most are not very interested in other
          people’s travel accounts.” She’s almost certainly right. But if you feel like looking at some pictures and
          skimming over the journalling of someone who doesn’t actually keep a journal, then I hope you enjoy the rest.
        </p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/mountain_into_water.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">After a brisk 5.5 hour flight from Washington, I met Henry, Dad, and Lara in the Reykjavík
          airport
          baggage claim at 6:45am Icelandic time. Henry and I quickly took the necessary steps to ensure that Jasper
          would be
          able to identify us upon his arrival an hour later. </p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/henry_airport.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">We collected our rental car - a Toyota Rav-4 equipped with “gravel insurance” for all of the
          rugged off-roading we had planned (I joke but there were some long gravel roads with high speed limits that
          the insurance was probably helpful for).</p>
        <p class="p-body">As we drove ~45 mins to our AirBnb just outside of Reykjavík, the deep black of the night sky
          started to give way to a deep blue. This was the beginning of a nearly 2.5 hour lightening of the sky before
          the sun finally peeked over the horizon around 10am.</p>
        <p class="p-body">Our AirBnb was a 3-story minimalist home dug into the hillside, with 2/3 floors buried into
          the ground. It overlooked the Bay of Nauthólsvík with huge, North-facing (very important) floor-to-ceiling
          windows. Naturally, the listing promised views of the Aurora Borealis and we were, naturally, skeptical.</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/mountain_into_water.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">The house was heated when we arrived, which we originally interpreted as a friendly owner
          welcoming us to a cozy abode. Later, we learned that due to Iceland’s wealth of geothermal energy, heating was
          basically free, leading many residents to always have their heat on full-blast and to open their windows if
          they need to cool it down a bit. Our AirBnb’s plumbing also took advantage of this model: the cold water came
          straight from the glaciers, while the hot water smelled of sulfur. While brushing my teeth, I learned the hard
          way that the slightest increase in water temperature would introduce sulfur into the faucet stream.</p>
        <p class="p-body">After showering, we headed into town for first planned activity - a food tour of Reykjavík
          that my father believed would be the perfect way to keep us up and about while we fought through our jetlag.
        </p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/harpa.jpeg" class="img-half img-half--left">
<img src="assets/images/harpa_jasper.jpeg" class="img-half img-half--right">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">Our tour guide was a burly chested, blond curly wax mustachioed, 20-something Icelander named
          Thor (one of <a href="https://en.wikipedia.org/wiki/Icelandic_Naming_Committee">1700+ permitted</a> Icelandic
          male first names). He met us outside the Harpa Concert Hall, wearing a thick-knitted sweater made by his
          grandmother and skinny jeans with holes (it was less clear who those were made by). Thor told us that he was
          starving and that we should start the tour immediately.</p>
        <p class="p-body">Unfortunately, none of us remembered to take photos of the food during the tour, so here is a
          very brief highlight reel of text descriptions:</p>
        <!-- TODO: food tour section -->
      </div>
    </div>
  </div>
</section>
<app-caption-scroller [captionedContent]="canyonDriveContent" scrollerName="canyon-drive"></app-caption-scroller>
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">Eventually our scenic route ended with us at Blue Lagoon - a large hot springs that was
          described by a friend as “one of the most touristy places in Iceland” but also “Unique. Cool. Incredible.
          Fucking do it.” We were glad that we followed his advice.</p>
        <!-- TODO: food tour section -->
      </div>
    </div>
  </div>
</section>
<app-caption-scroller [captionedContent]="blueLagoonContent" scrollerName="blue-lagoon"></app-caption-scroller>
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">To actually get in the water, one has to venture through the front-desk, locker room, and
          showers of the Blue Lagoon resort. Once passed those obstacles though, one wades into the belly button-high,
          hot but not too hot waters that give the resort its name. The lagoon proved to be a bit of a labrynth, with
          winding passes leading to secluded pools, bars with alcholic beverages, and even a bar with complimentary
          facemasks. </p>
        <p class="p-body">An avid facemasker can purchase a tube of one of the many Signature Blue Lagoon Masks at the
          resort’s store, which greets you as you exit the waters like the duty-free section of a European airport or
          the makeup section of a Macy’s. The tubes are also advertised heavily on the seatback monitors of Icelandair
          flight.</p>
        <p class="p-body">When we originally hatched this plan, we had dreams of watching the Northern lights dance
          while soaking in the waters of the hot springs. Alas, the skies were cloudy and the jetlagged Americans were
          tired. We had made it to 8:30pm, it was time to go home and sleep.</p>
        <hr>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/morning_snorkel.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">At a time that felt both too early and too late, I was woken up by my father because our
          schedule dictated that it was time to start the day. It was 8:30am. I had slept for 10 hours. It was pitch
          black outside.</p>
        <p class="p-body">Our primary activity of the day was titled “Snorkeling the Continental Divide.” We all agreed
          that sounded very cool and very cold. In hindsight, I think we’d all agree that this assessment was accurate,
          though one of us struggled with the snorkeling a bit more than the rest. That one, unfortunately, was me.</p>
      </div>
    </div>
  </div>
</section>
<!-- TODO: make this a video in Google Earth studio -->
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">the “Continental Divide” was the Silfra Fissure located in the middle of Thingvellir National
          Park. Over the course of 20 years, water from a nearby glacier slowly makes its way down the hillside,
          filtering along the way, to arrive at a small channel of pure, crystal clear water ready for tourists in dry
          suits to snorkel in, taste, and - in the case of yours truly - accidentally swallow through his nose and cough
          back up a little bit in a manner that would leave some to believe that he is quite bad at breathing only
          through his mouth and activities (like snorkeling) that require that proficiency.</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/dry_suits2.jpeg" class="img-half img-half--left">
<img src="assets/images/dry_suits1.jpeg" class="img-half img-half--right">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">The water is so clear, that snorkelers are encouraged to drink some. In my case, this meant
          accidentally swallowing a bunch through my nose and coughing in a manner that might suggest that I am quite
          bad at only breathing through my mouth and at activities (like snorkeling) that require that proficiency.</p>
        <p class="p-body">In between the many breaks I had to take though, I was in awe of the clarity of the water and
          the sights below. At Crater Lake in Oregon, the saying goes that “you can drop your camera into the water and
          watch it float away from you for over a minute.” </p>
        <p class="p-body">This may have been on a level all its own above that, as evidenced by these nice photos that I
          found on the internet:</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/snorkeling1.jpeg" class="img-half img-half--left">
<img src="assets/images/snorkeling2.jpeg" class="img-half img-half--right">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">The time in the water only totalled about 20 minutes, which was probably not far from the
          maximum any of us could’ve reasonably lasted in the icy waters. While the drysuits worked well and while the
          view of the rocky fissure from in the water was difficult to turn away from, fingers and toes excel at getting
          cold. </p>
        <p class="p-body">Exiting the water, you remember that you’re still in Iceland in November. We hurried back to
          the vans where we changed, drank hot chocolate, and listened to our guide talk about how this was where they
          filmed “The Wall” in Game of Thrones (I have not been able to confirm this, though many of the scenes in the
          North were filmed in Iceland).</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/the_wall.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">After we had changed and warmed up, we headed to Geysir - a large geyser that Wikipedia tells
          me can
          hurl water up to 230 ft in the air. It was considerably smaller when we saw it, although I have no proof
          because both
          times that I attempted to film it, it only erupted seconds after I spent 5 minutes filming nothing and paused
          to
          switch my hands.</p>
      </div>
    </div>
  </div>
</section>
<app-caption-scroller [captionedContent]="geysirContent" scrollerName="geysir"></app-caption-scroller>
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">We took another scenic drive back to the Airbnb, showered, and had a terrific dinner at
          Bryggjan Brugghús - a brewpub featuring great beer and even better fish and chips made with local cod. After a
          quick stop for licorice gelato for those that enjoy the taste of poison and other flavors for those of us who
          don’t, we made a full attempt to see the Northern Lights.</p>
        <p class="p-body">To see the Northern Lights in Iceland you need a clear sky and high enough levels of solar
          activity. We knew we’d have the former, but the latter was relatively low. We decided to take our chances and
          head to, ironically, a lighthouse at the edge of Reykjavik where we would hopefully free ourselves from the
          light pollution of the city. Apparently we were not the only ones who had this idea, as the lighthouse was
          surrounded by about 40 parked cars and their passengers, all staring longingly up at the Northern night sky.
        </p>
        <p class="p-body">In that sky rested a large, rectangular shape that looked like a cloud stretched out above us.
          It’s slight green tint and occasional movements though revealed its true identity as the target of our
          operation, albeit a slightly underwhelming one. My phone’s best effort to capture what we saw:</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/black.jpeg" class="img-half img-half--center">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">(I promise that is a real photo).</p>
        <p class="p-body">After 15 minutes of watching the blob in the sky and convincing ourselves that “this counts as
          seeing it” and was probably the best we were going to get, we headed back to the AirBnb.</p>
        <p class="p-body">
          Looking out of the house’s north-facing windows, we saw the same shape that we had seen from the lighthouse,
          lingering there as if to say “you’re not really going to go to sleep yet, right?” As we sat watching, the
          shape
          began to evolve - sections of it grouped together into linear streaks in the sky, shifting and dancing in the
          sky with its green tint glowing stronger. This photo turned out a bit better than the previous one:</p>
      </div>
    </div>
  </div>
</section>
<img src="assets/images/aurora.jpeg" class="img-full">
<section class="p-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-6">
        <p class="p-body">While the aurora never reached anything that you’d see in National Geographic, it definitely
          left us satisfied. As it faded into the night, we followed suit and headed to bed.</p>
        <hr>
        <p class="p-body">Our final day in Iceland started with us dropping Jasper off at the airport before commencing
          the day’s activities. The plan: waterfalls.</p>
      </div>
    </div>
  </div>
</section>
<app-caption-scroller [captionedContent]="selijalandsfossContent" scrollerName="selijalandsfoss"></app-caption-scroller>
