hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-section {
  clear: both;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.p-body {
  margin-bottom: 1.65em;
  color: #3c3c3c;
  font-family: Lora, Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
}

.img-full {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.img-half {
  // height: 100vh;
  width: 50%;
  object-fit: cover;

  &--left {
    float: left;
    padding-right: 10px;
  }

  &--right {
    float: right;
    padding-left: 10px;
  }

  &--center {
    margin-left: 25%;
  }
}
